body {
    font-family: 'Arial', sans-serif;
    background-color: #181818;
    color: #e4e4e4;
}

.navbar {
    background-color: #ffffff;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
    color: #67c5e9;
}

.logo {
    max-height: 50px;
    width: auto;
}


section {
    margin: 50px 0;
}

h1, h2 {
    color: #67c5e9; /* '90s inspired light green */
}

.bg-dark {
    background-color: #ffffff !important;
}

footer {
    background-color: #ffffff;
    color: #67c5e9;
}

.row > .col-md-5.offset-md-1 {
    border-radius: 8px 0 0 8px;
}

.row > .col-md-5:not(.offset-md-1) {
    border-radius: 0 8px 8px 0;
}

@media (max-width: 768px) {
    .row > .col-md-5.offset-md-1 {
        border-radius: 8px 8px 0 0;
    }

    .row > .col-md-5:not(.offset-md-1) {
        border-radius: 0 0 8px 8px;
    }
}

.container {
    max-width: 1200px; /* Adjust this to whatever width is visually appealing */
}
